body{
    /*background : ;*/
}

#todoContainer{
    display : inline-block;
    width: fit-content;;
    text-align: left;
}

.centerContainer{
    text-align: center;
}

tr.todo{
    border: 1px solid black;
}

.todoLabel{
}